<div id="footer">
  <hr style="border-top:1px solid #aaa;opacity:.5">
  <ul>
    <li>6669 Barnaby St. NW Washington, DC 20015</li>
    <li>|</li>
    <li>Office: (202) 364-3919</li>
    <li>|</li>
    <li>Fax: (202) 363-0139</li>
    <li>|</li>
    <li><a href="mailto:MarthaGibbons123@verizon.net">MarthaGibbons123@verizon.net</a></li>
  </ul>
  <ul>
    <li>Copyright 2007-2010 by Martha Blechar Gibbons - all rights reserved</li>
    <li>|</li>
    <li>Website by <a href="http://agibbons.com">Adam Gibbons</a></li>
  </ul>
</div>