<div id="header">
  <h1><strong>Martha Blechar Gibbons</strong>, PhD, APRN, BC</h1>
  <hr>
  <h2><em>Certified Nurse Psychotherapist</em></h2>
</div>



<div id="navigation">
  <ul>
    <li><a href="./about.html">About Me</a></li>
    <li>|</li>
    <li><a href="./practice.html">My Practice</a></li>
    <li>|</li>
    <li><a href="./therapy.html">Therapy</a></li>
    <li>|</li>
    <li><a href="./directions.html">Directions</a></li>
    <li>|</li>
    <li><a href="./recordings.html">Mindfulness recordings</a></li>
<!--     
<li>|</li>
<li><a href="./view_office.html">View Office</a></li>
    <li>|</li>
    <li><a href="./contact.html">Contact</a></li>
     -->
  </ul>
</div>