<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Martha Blechar Gibbons, Certified Nurse Pychotherapist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta name="google-site-verification" content="Og54McXVwIxyk28K4Za2CJYiD_zIK46WPKCe7l9ySUg" />
    <meta name="description" content="Certified nurse psychotherapist providing therapy for children, adolescents, and adults, in individual, couples, family, and group sessions."> 
    <link rel="publisher" href="https://plus.google.com/115893984033113104263"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Martha Blechar Gibbons | Certified Nurse Psychotherapist" />
    <meta property="og:description" content="Certified nurse psychotherapist providing therapy for children, adolescents, and adults, in individual, couples, family, and group sessions." />
    <meta property="og:url" content="http://marthagibbons.com" />
    <meta property="og:site_name" content="Martha Blechar Gibbons | Certified Nurse Psychotherapist" />
    <meta name="keywords" content="therapy, therapist, psychotherapy, psychotherapist, washington dc, maryland, virginia, couples, children, family, gestalt, psychopharmacology, cognitive, behavioral, self psychology, hypnosis, meditation, mindfulness">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% include header.html %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          {% include banner.html %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {{content}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {% include footer.html %}
        </div>
      </div>
    </div>

    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/header.js"></script>
    <script src="scripts/google-analytics.js"></script>
  </body>
</html>