<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta name="description" content="Martha Blechar Gibbons, Certified Nurse Psychotherapist | A Washington, DC-based practice that provides therapy for children, adolescents, and adults, in individual, couple, family, and group sessions."> 
    <meta name="keywords" content="Dr. Martha Blechar Gibbons, Martha Gibbons, psychotherapy, DC psychotherapy, psychotherapist, DC psychotherapist, Washington DC psychotherapist, Washington DC psychotherapy, Maryland psychotherapy, Virginia psychotherapy, psychopharmacology, Washington, DC psychopharmacology, Virginia psychopharmacology, Maryland psychopharmacology, individual therapy, groupy therapy, family therapy, cognitive therapy, behavioral therapy, self psychology, Gestalt techniques, play therapy, meditation, imagery, visualization, hypnosis,">
    <title>Martha Blechar Gibbons, Certified Nurse Pychotherapist</title>

    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
  </head>
  <body>

    {% include header.html %}
    {% include banner.html %}

    <div id="template_content">
      {{content}}
    </div>

    {% include footer.html %}

      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-16242050-1");
            pageTracker._trackPageview();
        } catch(err) {}
      </script>
  </body>
</html>