/*

GLOBALS

*/

h2 {
  color: #DA625F;
}

h3 {
  color: #DAC15F;
}

address {
  margin: 1.33em;
}

/*

HEADER BLOCK

*/

#header {
  margin-bottom: 2em;
  color: #66B0E3;
}

#header hr {
  width: 50%;
  border: none;
  border-top: 1px solid #66B0E3;
}

#header h1 {
  margin-bottom: .33em;
  color: inherit;
}

#header h2 {
  font-weight:100;
  margin-top: .33em;
  color: inherit;
}

/*

NAVIGATION BLOCK

*/

#navigation {
  text-align: center;
  padding: 0px;
  margin: auto;
}

#navigation ul {
  padding: 0;
}

#navigation ul li {
  list-style: none;
  display: inline; 
  padding: 3px;
  color: #8dccef;
  margin: auto;
  text-align: center;
}

#navigation ul li a {
  text-decoration: none;
  color: #c5e0ef;
}

#navigation ul li a:hover {
  text-decoration: underline;
  color: white;
}

/*

BANNER BLOCK

*/

#banner {
  text-align: center;
}

/*

FOOTER BLOCK

*/

#footer {
  border-top: 1px dotted #000;
  margin-top: 2em;
  padding-top: 2em;
  font-size: .9em;
  text-align: center;
  list-style: none;
}

#footer ul li {
  display: inline; 
  padding: 0px 0px;
  color: #c5e0ef;
  z-index: 0;
}

#footer ul li a {
  list-style: none;
  display: inline; 
  padding: 0px 0px;
  text-decoration: underline;
}

/*

URL /
(homepage)

*/

#splash {
  margin: 0px;
  padding: 0px;
  margin-left: -20px;
}

/*

URL /office.html

*/

.office-img {
  margin-bottom: 2em;
}

.office-img .caption {
  clear: left;
  text-align: left;
}

.office-img img {
  max-width: 100%;
}

/*

MISC (refactor these into better styles)

*/

.technique {
  color: #DA625F;
}

#headshot {
  float: right;
  margin-left: 15px;
}